.header {
    width: auto;
    border: 2px solid black;
    height: 75px;
    margin-bottom: 10px;
}
.btn-cart {
    color: white;
    background-color: black;
    border-radius: 10px;
}
.products {
    width: auto;
    border: 2px solid blue;
    background-color: grey;
}

.product-item {

}

.by-btn {
    color: white;
    background-color: black;
    border-radius: 10px;
}